@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    padding: 0;
    margin: 0;
    height: '100%';
    width: '100%';
    font-family: 'Ibarra Real Nova', 'Headland One', serif;
    color: white;
    scroll-behavior: smooth;
  }

  h1 {
    @apply text-6xl md:text-7xl lg:text-8xl;
  }

  h2 {
    @apply text-5xl lg:text-6xl;
  }

  h3 {
    @apply text-4xl lg:text-5xl;
  }

  h4 {
    @apply text-3xl;
  }
}

.swiper-pagination-bullet {
  border-color: #ffb800 !important;
  border-width: 8px !important;
}
.swiper-pagination-bullet-active {
  background-color: #ffb800 !important;
}
